<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %}</title>
<body>
  <header>
    <nav>
      <!-- from https://www.pexels.com/photo/office-working-app-computer-97077/ CCO license -->
      <img class="resize" src="{{ '/static/imgp2029_v1.jpg'|url }}" alt="">
      <ul class="nav navbar-nav">
        {% for id, item in bag('main-nav').items() %}
        <li{% if this.is_child_of(item.path) %} class="active"{% endif %}>
          <a href="{{ item.path|url }}">{{ bag('buttons', this.alt, item.label) }}</a>
        </li>
        {% endfor %}
      </ul>
      
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2018-2021 Dominique Dumont.
  </footer>
</body>
